<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>kodi - simple remote</title>

  <link rel="stylesheet" href="styles.css"/>
  <script src="app.bundle.min.js"></script>
</head>
<body ng-app="kodiRemoteApp">

  <div class="container-fluid">
    <div class="row">
      <header class="col-xs-12 header">
        <div class="row">
          <div class="col-xs-12">
            <i class="fa fa-fw fa-circle"></i> Title
          </div>
        </div>
      </header>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-14">
        <div ng-view>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <footer ng-controller="footerNavCtrl" class="col-xs-12 footer">
        <div class="row">
          <div class="col-xs-4">
            <a ng-click="navigateTo('settings')"><i class="fa fa-fw fa-sliders"></i></a>
          </div>
          <div class="col-xs-4">
            <a ng-click="navigateTo('navigation')"><i class="fa fa-fw fa-arrows-alt"></i></a>
          </div>
          <div class="col-xs-4">
            <a ng-click="navigateTo('player')"><i class="fa fa-fw fa-play-circle-o"></i></a>
          </div>
        </div>
      </footer>
    </div>
  </div>

</body>
</html>