@import "../bower_components/bootstrap/less/bootstrap.less";

@import "../bower_components/fontawesome/less/variables.less";
@fa-font-path: "/fonts";
@import "../bower_components/fontawesome/less/mixins.less";
@import "../bower_components/fontawesome/less/path.less";
@import "../bower_components/fontawesome/less/core.less";
@import "../bower_components/fontawesome/less/larger.less";
@import "../bower_components/fontawesome/less/fixed-width.less";
@import "../bower_components/fontawesome/less/list.less";
@import "../bower_components/fontawesome/less/bordered-pulled.less";
@import "../bower_components/fontawesome/less/spinning.less";
@import "../bower_components/fontawesome/less/rotated-flipped.less";
@import "../bower_components/fontawesome/less/stacked.less";
@import "../bower_components/fontawesome/less/icons.less";


html, body {
  height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 25px;
  & i {
    padding: 20px 0;
  }
}

